.navstyling {
    background-color: gold;
    padding: 0.5% 0 0.5% 0;
}

a {
    color: #151100;
}

a:hover {
    color: #fff;
    background-color:brown;
    border-radius: 8px;
}

.navheading {
    float: left;
    padding-left: 2%;
    color: brown;
}

.navmenu {
    padding-right: 2%;
}

@media(max-width: 598px) {

    .navheadingmobile {
        text-align: center;
        padding-top: 1%;
        color: brown;
    }    

    .navmenumobile {
        display: flex;
        justify-content: center;
    }

}

@media(min-width: 599px) {

    .navstyling {
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .navheadingmobile {
        display: inline;
        padding-left: 2%;
        color: brown;
        padding-bottom: 20px;
    } 

    .navmenumobile {
        display: inline-block;
        float: right;
        padding-right: 1%;
    }
    
}